Repository getdozer/dozer, pull requests merged in 2023-03, with the labels that each got.

#1067 feat: support deltalake connector
  Cargo.lock
  dozer-ingestion/Cargo.toml
  dozer-ingestion/src/connectors/delta_lake/connector.rs
  dozer-ingestion/src/connectors/delta_lake/mod.rs
  dozer-ingestion/src/connectors/delta_lake/reader.rs
  dozer-ingestion/src/connectors/delta_lake/schema_helper.rs
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/.part-00000-04ec9591-0b73-459e-8d18-ba5711d6cbe1-c000.snappy.parquet.crc
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/.part-00000-c9b90f86-73e6-46c8-93ba-ff6bfaf892a1-c000.snappy.parquet.crc
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/.part-00001-911a94a2-43f6-4acb-8620-5e68c2654989-c000.snappy.parquet.crc
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/_change_data/.gitkeep
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/_delta_index/.gitkeep
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/_delta_log/00000000000000000000.json
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/_delta_log/00000000000000000001.json
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/part-00000-04ec9591-0b73-459e-8d18-ba5711d6cbe1-c000.snappy.parquet
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/part-00000-c9b90f86-73e6-46c8-93ba-ff6bfaf892a1-c000.snappy.parquet
  dozer-ingestion/src/connectors/delta_lake/test/data/delta-0.8.0/part-00001-911a94a2-43f6-4acb-8620-5e68c2654989-c000.snappy.parquet
  dozer-ingestion/src/connectors/delta_lake/test/deltalake_test.rs
  dozer-ingestion/src/connectors/delta_lake/test/mod.rs
  dozer-ingestion/src/connectors/mod.rs
  dozer-ingestion/src/connectors/object_store/helper.rs
  dozer-ingestion/src/connectors/object_store/mod.rs
  dozer-ingestion/src/connectors/object_store/schema_helper.rs
  dozer-ingestion/src/connectors/object_store/schema_mapper.rs
  dozer-ingestion/src/connectors/object_store/table_reader.rs
  dozer-ingestion/src/errors.rs
  dozer-tests/src/e2e_tests/runner/running_env.rs
  dozer-types/src/ingestion_types.rs
  dozer-types/src/models/connection.rs
  dozer-types/src/types/mod.rs
Labels: doc-update-needed

#1175 feat: Window processor
  dozer-core/src/errors.rs
  dozer-sql/src/pipeline/builder.rs
  dozer-sql/src/pipeline/errors.rs
  dozer-sql/src/pipeline/mod.rs
  dozer-sql/src/pipeline/product/factory.rs
  dozer-sql/src/pipeline/product/tests/pipeline_test.rs
  dozer-sql/src/pipeline/window.rs
  dozer-sql/src/pipeline/window/builder.rs
  dozer-sql/src/pipeline/window/factory.rs
  dozer-sql/src/pipeline/window/operator.rs
  dozer-sql/src/pipeline/window/processor.rs
  dozer-sql/src/pipeline/window/tests.rs
  dozer-sql/src/pipeline/window/tests/operator_test.rs
  dozer-sql/src/pipeline/window/tests/pipeline_test.rs
Labels: enhancement, sql

#1070 feature: Add schema support to postgres connector
  dozer-ingestion/examples/postgres/main.rs
  dozer-ingestion/src/connectors/delta_lake/schema_helper.rs
  dozer-ingestion/src/connectors/delta_lake/test/deltalake_test.rs
  dozer-ingestion/src/connectors/ethereum/log/connector.rs
  dozer-ingestion/src/connectors/ethereum/log/helper.rs
  dozer-ingestion/src/connectors/ethereum/log/tests/helper.rs
  dozer-ingestion/src/connectors/ethereum/trace/connector.rs
  dozer-ingestion/src/connectors/grpc/adapter/arrow.rs
  dozer-ingestion/src/connectors/kafka/debezium/no_schema_registry.rs
  dozer-ingestion/src/connectors/kafka/debezium/schema_registry.rs
  dozer-ingestion/src/connectors/mod.rs
  dozer-ingestion/src/connectors/object_store/schema_mapper.rs
  dozer-ingestion/src/connectors/object_store/tests/local_storage_tests.rs
  dozer-ingestion/src/connectors/postgres/connection/validator.rs
  dozer-ingestion/src/connectors/postgres/connector.rs
  dozer-ingestion/src/connectors/postgres/iterator.rs
  dozer-ingestion/src/connectors/postgres/schema/helper.rs
  dozer-ingestion/src/connectors/postgres/schema/sorter.rs
  dozer-ingestion/src/connectors/postgres/schema/tests.rs
  dozer-ingestion/src/connectors/postgres/snapshotter.rs
  dozer-ingestion/src/connectors/postgres/test_utils.rs
  dozer-ingestion/src/connectors/postgres/tests/continue_replication_tests.rs
  dozer-ingestion/src/connectors/snowflake/connection/client.rs
  dozer-ingestion/src/connectors/snowflake/tests.rs
  dozer-orchestrator/src/cli/helper.rs
  dozer-orchestrator/src/pipeline/connector_source.rs
  dozer-orchestrator/src/pipeline/source_builder.rs
  dozer-orchestrator/src/pipeline/validate.rs
  dozer-types/src/models/source.rs
  dozer-types/src/types/mod.rs
Labels: doc-update-needed

#1140 feat: add object store validation
  dozer-ingestion/src/connectors/object_store/connection.rs
  dozer-ingestion/src/connectors/object_store/connection/validator.rs
  dozer-ingestion/src/connectors/object_store/connector.rs
  dozer-ingestion/src/connectors/object_store/mod.rs
Labels: wip
