Repository getdozer/dozer, pull requests merged in 2023-02, with the labels that each got.

#808 feat: Introduce DataFusion Connector
  Cargo.lock
  dozer-admin/src/tests/util_sqlite_setup.rs
  dozer-ingestion/Cargo.toml
  dozer-ingestion/src/connectors/datafusion/connector.rs
  dozer-ingestion/src/connectors/datafusion/executor.rs
  dozer-ingestion/src/connectors/datafusion/helper.rs
  dozer-ingestion/src/connectors/datafusion/mod.rs
  dozer-ingestion/src/connectors/datafusion/schema_helper.rs
  dozer-ingestion/src/connectors/datafusion/schema_mapper.rs
  dozer-ingestion/src/connectors/datafusion/table_reader.rs
  dozer-ingestion/src/connectors/mod.rs
  dozer-ingestion/src/errors.rs
  dozer-tests/src/e2e_tests/runner/running_env.rs
  dozer-types/src/field_type.rs
  dozer-types/src/ingestion_types.rs
  dozer-types/src/models/connection.rs
Labels: enhancement, connectors, datafusion

#900 feat: Return id and version in gRPC query. Include version in push events.
  dozer-api/protos/films.proto
  dozer-api/protos/types.proto
  dozer-api/src/generator/protoc/generator/implementation.rs
  dozer-api/src/generator/protoc/generator/mod.rs
  dozer-api/src/generator/protoc/generator/template/proto.tmpl
  dozer-api/src/generator/protoc/tests.rs
  dozer-api/src/grpc/shared_impl/filter/tests.rs
  dozer-api/src/grpc/typed/helper.rs
  dozer-api/src/grpc/typed/tests/fake_internal_pipeline_server.rs
  dozer-api/src/grpc/typed/tests/service.rs
  dozer-api/src/grpc/typed/tests/utils.rs
  dozer-api/src/grpc/types_helper.rs
  dozer-api/src/test_utils.rs
  examples/1_hypercharge_postgres/dozer-config.yaml
Labels: doc-update-needed

#898 feat: Return record id and version in REST API
  dozer-api/src/api_helper.rs
  dozer-cache/src/cache/lmdb/cache/mod.rs
  dozer-cache/src/cache/lmdb/tests/basic.rs
  dozer-cache/src/cache/lmdb/tests/read_write.rs
  dozer-cache/src/cache/mod.rs
  dozer-cache/src/reader.rs
  dozer-orchestrator/src/pipeline/sinks.rs
  dozer-types/src/helper.rs
  dozer-types/src/lib.rs
Labels: doc-update-needed

#908 feat: Support $after expression for pagination
  dozer-api/src/errors.rs
  dozer-api/src/rest/api_generator.rs
  dozer-cache/benches/cache.rs
  dozer-cache/src/cache/expression/mod.rs
  dozer-cache/src/cache/expression/query_helper.rs
  dozer-cache/src/cache/expression/query_serde.rs
  dozer-cache/src/cache/expression/tests/deserialize.rs
  dozer-cache/src/cache/expression/tests/serialize.rs
  dozer-cache/src/cache/lmdb/cache/query/handler.rs
  dozer-cache/src/cache/lmdb/cache/query/tests.rs
  dozer-cache/src/cache/lmdb/tests/basic.rs
  dozer-cache/src/cache/plan/tests.rs
  dozer-cache/src/cache/test_utils.rs
  dozer-cache/src/errors.rs
  dozer-orchestrator/src/pipeline/sinks.rs
  dozer-tests/src/cache_tests/skip_and_limit.rs
  dozer-tests/src/tests/cache.rs
Labels: doc-update-needed

#927 feat: support python udf
  .github/workflows/coverage.yaml
  Cargo.lock
  dozer-sql/Cargo.toml
  dozer-sql/src/pipeline/aggregation/processor.rs
  dozer-sql/src/pipeline/errors.rs
  dozer-sql/src/pipeline/expression.rs
  dozer-sql/src/pipeline/expression/builder.rs
  dozer-sql/src/pipeline/expression/execution.rs
  dozer-sql/src/pipeline/expression/python_udf.rs
  dozer-tests/python_udf/python_udf.py
  dozer-tests/python_udf/virtualenv.sh
  dozer-tests/src/e2e_tests/cases/eth-logs/dozer-config.yaml
  dozer-tests/src/e2e_tests/cases/eth-logs/expectations.json
  dozer-tests/src/sql_tests/framework.rs
  dozer-tests/src/tests/sql/agg.rs
  dozer-tests/src/tests/sql/helper.rs
  dozer-tests/src/tests/sql/join.rs
  dozer-tests/src/tests/sql/mod.rs
  dozer-tests/src/tests/sql/nested.rs
  dozer-tests/src/tests/sql/python_udf.rs
  dozer-tests/src/tests/sql/simple.rs
  dozer-types/Cargo.toml
  dozer-types/src/models/api_endpoint.rs
  dozer-types/src/models/app_config.rs
  dozer-types/src/types/field.rs
Labels: enhancement, sql, doc-update-needed

#912 feat: Add geo point and coord type support
  Cargo.lock
  dozer-api/protos/types.proto
  dozer-api/src/api_helper.rs
  dozer-api/src/generator/oapi/generator.rs
  dozer-api/src/generator/oapi/utils.rs
  dozer-api/src/generator/protoc/generator/implementation.rs
  dozer-api/src/grpc/typed/helper.rs
  dozer-api/src/grpc/types_helper.rs
  dozer-cache/src/cache/lmdb/cache/mod.rs
  dozer-ingestion/Cargo.toml
  dozer-ingestion/src/connectors/postgres/helper.rs
  dozer-ingestion/src/errors.rs
  dozer-orchestrator/src/pipeline/sinks.rs
  dozer-orchestrator/src/test_utils.rs
  dozer-sql/src/pipeline/builder.rs
  dozer-sql/src/pipeline/expression.rs
  dozer-sql/src/pipeline/expression/arg_utils.rs
  dozer-sql/src/pipeline/expression/builder.rs
  dozer-sql/src/pipeline/expression/execution.rs
  dozer-sql/src/pipeline/expression/geo.rs
  dozer-sql/src/pipeline/expression/geo/common.rs
  dozer-sql/src/pipeline/expression/geo/distance.rs
  dozer-sql/src/pipeline/expression/geo/point.rs
  dozer-sql/src/pipeline/expression/geo/tests.rs
  dozer-sql/src/pipeline/expression/geo/tests/distance.rs
  dozer-sql/src/pipeline/expression/geo/tests/geo_common.rs
  dozer-sql/src/pipeline/expression/geo/tests/point.rs
  dozer-sql/src/pipeline/expression/python_udf.rs
  dozer-sql/src/pipeline/expression/scalar/number.rs
  dozer-tests/src/e2e_tests/checker/client.rs
  dozer-tests/src/sql_tests/framework.rs
  dozer-tests/src/sql_tests/helper.rs
  dozer-tests/src/tests/sql/agg.rs
  dozer-tests/src/tests/sql/nested.rs
  dozer-tests/src/tests/sql/simple.rs
  dozer-types/Cargo.toml
  dozer-types/src/errors/types.rs
  dozer-types/src/field_type.rs
  dozer-types/src/helper.rs
  dozer-types/src/lib.rs
  dozer-types/src/types/field.rs
  dozer-types/src/types/mod.rs
Labels: doc-update-needed

#946 feat: Expose Pipeline config
  dozer-cache/src/cache/lmdb/cache/mod.rs
  dozer-core/src/builder_dag.rs
  dozer-core/src/dag_metadata.rs
  dozer-core/src/executor.rs
  dozer-core/src/executor/execution_dag.rs
  dozer-orchestrator/src/pipeline/source_builder.rs
  dozer-orchestrator/src/simple/executor.rs
  dozer-orchestrator/src/simple/orchestrator.rs
  dozer-orchestrator/src/utils.rs
  dozer-storage/src/lmdb_storage.rs
  dozer-types/src/models/app_config.rs
  dozer-types/src/tests/flags_config_yaml_deserialize.rs
Labels: enhancement, doc-update-needed, configuration

#961 feat: set operator lmdb support
  dozer-core/src/tests/sinks.rs
  dozer-ingestion/examples/postgres/main.rs
  dozer-orchestrator/src/pipeline/connector_source.rs
  dozer-sql/src/pipeline/builder.rs
  dozer-sql/src/pipeline/errors.rs
  dozer-sql/src/pipeline/expression/geo/tests/distance.rs
  dozer-sql/src/pipeline/product/set.rs
  dozer-sql/src/pipeline/product/set_factory.rs
  dozer-sql/src/pipeline/product/set_processor.rs
  dozer-sql/src/pipeline/product/tests/set_operator_test.rs
  dozer-tests/src/e2e_tests/cases/eth_union/dozer-config.yaml
  dozer-tests/src/e2e_tests/cases/eth_union/expectations.json
  dozer-tests/src/e2e_tests/cases/pg_nested_aggregation/dozer-config.yaml
  dozer-tests/src/e2e_tests/cases/postgres/dozer-config.yaml
  dozer-tests/src/sql_tests/framework.rs
  dozer-tests/src/tests/sql/mod.rs
  dozer-tests/src/tests/sql/union.rs
Labels: doc-update-needed

#984 feat: enhance python udf
  dozer-sql/src/pipeline/expression/python_udf.rs
  dozer-tests/Cargo.toml
  dozer-tests/python_udf/python_udf.py
  dozer-tests/src/sql_tests/framework.rs
  dozer-tests/src/sql_tests/helper.rs
  dozer-tests/src/sql_tests/mapper.rs
  dozer-tests/src/tests/sql/agg.rs
  dozer-tests/src/tests/sql/helper.rs
  dozer-tests/src/tests/sql/join.rs
  dozer-tests/src/tests/sql/nested.rs
  dozer-tests/src/tests/sql/python_udf.rs
  dozer-tests/src/tests/sql/simple.rs
  dozer-tests/src/tests/sql/union.rs
Labels: enhancement, sql
